*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:PT Sans", sans-serif" ;
}

body{
    background: url(./img/background.png);
    font-size: 20px;
}
.input-task {
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
}

img {
    height: 80px;
    opacity: 0;
    transition:opacity 0.5s ;
}

.container {
    background-color: gray;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.button-add-task {
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #003329;
    color: #fff;
    font-size: 17px;
    padding: 0 15px;
    float: right;
    cursor: pointer;
}

.button-add-task:hover {
    opacity: 0.8;
}

.button-add-task:active {
    opacity: 0.6;
}

.list-task {
    width: 100%;
    list-style: none;
    margin-top: 40px;
}

.task {
    background-color: #fff;
    box-shadow: 1px 4px 10px rgba(0,0,0,0.2);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.task:hover img{
    opacity: 1;
}

.done {
    background-color: #8fac55;
    text-decoration: line-through;
} 
